* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(background.jpg);
    background-size: cover;
    background-position: center;
}

.custom-width {
    width: 100%;
}

.custom-width h1 {
    color: white;
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.user-btn {
    text-align: center;
}

#mc_embed_signup_scroll {
    text-align: center;
}